html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden; /* 防止地图外层滚动条影响布局 */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
}
